/* 专门针对b页面的样式 */
#b .command-section {
    background-color: #f0f8ff;
    border-left: 3px solid var(--primary-color);
    padding: 20px;
}

#b h1 {
    color: #4b6cb7;
    background: linear-gradient(90deg, #f5f7fa 0%, #c3cfe2 100%);
}
